/* -----------------------------------
  GENERAL
----------------------------------- */

:root {
  --accent: #ed254e;
  --light-accent: #ed4d6e;
  --primary: #f7f4f8;
  --white: #ffffff;
  --light-grey: #eee;
  --mid-grey: #e2e2e2;
  --primary-dark: #343a40;
}

body {
  background: var(--primary);
  color: var(--primary-dark);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

a {
  color: var(--accent);
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: var(--primary-dark) !important;
  outline: none;
  text-decoration: none !important;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: var(--primary-dark);
}

/* -----------------------------------
  Header
----------------------------------- */

#header {
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background: var(--primary-dark);
}

.app-navbar {
  background-color: var(--primary-dark);
  text-transform: uppercase;
}

.app-footer {
  background-color: var(--primary-dark);
  font-size: 12px;
  text-align: center;
}

.nav-item {
  color: var(--white) !important;
}

.nav-item-active {
  color: var(--accent) !important;
}

/* -----------------------------------
  Footer
----------------------------------- */

#footer {
  background: var(--primary-dark);
  padding: 30px 0;
  color: var(--white);
  font-size: 14px;
  width: 100%;
  height: 80px;
}

#footer .copyright {
  text-align: center;
}

/* -----------------------------------
  Home
----------------------------------- */

#full-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  padding: 0px;
}

/* -----------------------------------
  Content
----------------------------------- */

h1 {
  text-align: center;
  margin-top: 150px;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  h3 {
    margin-top: 50px;
  }
}

.status-color-ok {
  background-color: #a1cf6b;
  padding: 3px;
  border-radius: 5px;
  color: var(--primary);
  text-align: center;
  vertical-align: middle;
  font-size: 0.6rem;
  width: 22px;
  height: 22px;
}

.status-color-nok {
  background-color: #d36a59;
  padding: 3px;
  border-radius: 5px;
  color: var(--primary);
  text-align: center;
  vertical-align: middle;
  font-size: 0.6rem;
  width: 22px;
  height: 22px;
}

.disabled-link {
  color: var(--primary-dark) !important;
  pointer-events: none;
  cursor: default;
}

.disabled-link:hover {
  color: var(--primary-dark) !important;
  cursor: default;
}

.bg-light-accent-hover:hover {
  background-color: var(--light-accent) !important;
  color: var(--white);
}

.disabled {
  background-color: var(--mid-grey) !important;
}

.list-disabled-padding {
  padding: 10px 15px;
}

.list-group-item {
  padding: 0px !important;
}

.list-group-item a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: var(--primary-dark);
  padding: 10px 15px;
}

.list-group-item a:hover {
  color: var(--white) !important;
}