/* -----------------------------------
  GENERAL
----------------------------------- */
:root {
  --accent: #ed254e;
  --primary: #f7f4f8;
  --white: #ffffff;
  --primary-dark: #343432;
}

body {
  background: var(--primary);
  color: var(--primary-dark);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

a {
  color: var(--accent);
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: var(--white) !important;
  outline: none;
  text-decoration: none !important;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* -----------------------------------
  Header
----------------------------------- */
#header {
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background: var(--primary-dark);
}

.app-navbar {
  background-color: var(--primary-dark);
  text-transform: uppercase;
}

.app-footer {
  background-color: var(--primary-dark);
  font-size: 12px;
  text-align: center;
}

.nav-item {
  color: var(--white) !important;
}

.nav-item-active {
  color: var(--accent) !important;
}

/* -----------------------------------
  Footer
----------------------------------- */
#footer {
  background: var(--primary-dark);
  padding: 30px 0;
  color: var(--white);
  font-size: 14px;
  width: 100%;
  height: 80px;
}

#footer .copyright {
  text-align: center;
}

/* -----------------------------------
  Home
----------------------------------- */
#full-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  padding: 0px;
}